<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >  

<mapper namespace="superPms.dao.Todolist_Dao">
	<insert id="insTodo" parameterType="todolist">
	INSERT INTO todolist values(todo_seq.nextval,#{todo},'0',#{id})
	</insert>
	
	<select id="todoList" parameterType="string">
		select * from todolist where id=#{id}
	</select>
</mapper>