<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >  

<mapper namespace="superPms.dao.Risk_Dao">
	<select id="riskList" resultType="risk" parameterType="risk">
		select * from Risk
		order by riskno desc
	</select>
   	<select id="getRisk" resultType="risk" parameterType="risk">
       		SELECT * FROM risk
			WHERE riskno= #{riskno}
  	</select>
  	<insert id="insertRisk" parameterType="risk">
  			INSERT INTO RISK VALUES (risk_seq.nextval, 
  			#{risklevel},  #{riskpriority},
  			#{riskmoniter}, #{riskstate}, 
  			#{riskname}, 'monsta@gmail.com', 1)
  	</insert>
 	<update id="updateRisk" parameterType="risk">
		update risk
		set
			risklevel = #{risklevel},
			riskpriority = #{riskpriority},
			riskstate = #{riskstate},
			riskname = #{riskname}
	   where riskno = #{riskno}				
	</update>	
</mapper>