<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >  

<mapper namespace="superPms.dao.Risk_Dao">
	<select id="riskList" resultType="risk" parameterType="risk">
			select * from Risk
			order by riskpriority
	</select>
	<select id="totCnt" resultType="int" 
			parameterType="risksch">
			select count(*)
			from risk 
	</select>
	<select id="pagingRisk" resultType="risk" parameterType="risksch">
			select *
			from
			    (select rownum cnt, A.*
			    from
			        (select *
			        from RISK 
			        where riskno>0
			        order by riskpriority
			        ) A
			    )
			where cnt between #{start} and #{end}
	</select>
   	<select id="getRisk" resultType="risk" parameterType="risk">
       		SELECT * FROM risk
			WHERE riskno= #{riskno}
  	</select>
  	<insert id="insertRisk" parameterType="risk">
  			INSERT INTO RISK (riskno, risklevel, riskpriority, 
  			riskmoniter, riskstate, riskname, id, prjno) VALUES
  			(risk_seq.nextval, 
  			#{risklevel},  #{riskpriority},
  			#{riskmoniter}, '발생', 
  			#{riskname}, 'monsta@gmail.com', 23)
  	</insert>
 	<update id="updateRisk" parameterType="risk">
		update risk
		set
			risklevel = #{risklevel},
			riskpriority = #{riskpriority},
			riskmoniter = #{riskmoniter},
			riskstate = #{riskstate},
			riskname = #{riskname}
	   where riskno = #{riskno}			
	</update>
  	<delete id="deleteRisk" parameterType="risk">
			DELETE FROM RISK
			WHERE RISKNO =#{riskno}
  	</delete>	
</mapper>