<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="calendar" type="superPms.vo.Calendar"/>
		<typeAlias alias="todolist" type="superPms.vo.Todolist"/>
		<!-- 은빈 -->
		<typeAlias alias="superdept" type="superPms.vo.SuperDept"/>
      	<typeAlias alias="deptsch" type="superPms.vo.DeptSch"/>
      	<typeAlias alias="superempdept" type="superPms.vo.SuperEmpDept"/>
      	<typeAlias alias="deptcode" type="superPms.vo.DeptCode"/>
      	<typeAlias alias="authcode" type="superPms.vo.AuthCode"/>
      	<typeAlias alias="passmail" type="superPms.vo.PassMail"/>
      	<!--  -->
      	<typeAlias alias="work" type="superPms.vo.Work"/>
      	<typeAlias alias="worksch" type="superPms.vo.WorkSch"/>
      	<typeAlias alias="risk" type="superPms.vo.Risk"/>
      	<typeAlias alias="risksch" type="superPms.vo.RiskSch"/>
      	<typeAlias alias="alert" type="superPms.vo.Alert"/> 
      	
      	<!-- 민우 -->	
      	<typeAlias alias="notice" type="superPms.vo.Notice"/>
      	<typeAlias alias="noticesch" type="superPms.vo.NoticeSch"/>
      	<typeAlias alias="noticerep" type="superPms.vo.NoticeRep"/>
      	<typeAlias alias="noticerepsch" type="superPms.vo.NoticeRepSch"/>
      	<!--  -->
      	
      	<!-- 원주 -->
      	<typeAlias alias="project" type="superPms.vo.Project"/>
		<typeAlias alias="projectsch" type="superPms.vo.ProjectSch"/>
		<typeAlias alias="projectMember" type="superPms.vo.ProjectMember"/>
		<typeAlias alias="pmList" type="superPms.vo.ProjectMemberList"/>
      	<typeAlias alias="gantt" type="superPms.vo.Gantt"/>
      	<typeAlias alias="link" type="superPms.vo.Link"/>
      	<typeAlias alias="superempdeptsch" type="superPms.vo.SuperEmpDeptSch"/>
      	<!-- /원주 -->
	</typeAliases>

	<mappers>
		<mapper resource="resource/sumin/CalendarMapper.xml"/>
		<mapper resource="resource/sumin/TodolistMapper.xml"/>
		<mapper resource="resource/sumin/AlertMapper.xml"/>
		<mapper resource="resource/wonju/ProjectMapper.xml"/>
		<mapper resource="resource/wonju/GanttMapper.xml"/>
		<mapper resource="resource/eunbeen/DeptMapper.xml"/>
		<mapper resource="resource/eunbeen/EmpMapper.xml"/>
		<mapper resource="resource/jungwoo/RiskMapper.xml"/>
		<mapper resource="resource/jongeun/WorkMapper.xml"/>		
		<mapper resource="resource/minwoo/NoticeMapper.xml"/>		
	</mappers>
</configuration>
