<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="calendar" type="superPms.vo.Calendar"/>
		<typeAlias alias="todolist" type="superPms.vo.Todolist"/>
	</typeAliases>

	<mappers>
		<mapper resource="resource/sumin/TodolistMapper.xml"/>
	</mappers>
</configuration>