<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="calendar" type="superPms.vo.Calendar"/>
		<typeAlias alias="todolist" type="superPms.vo.Todolist"/>
		<typeAlias alias="project" type="superPms.vo.Project"/>
		<typeAlias alias="superdept" type="superPms.vo.SuperDept"/>
      	<typeAlias alias="deptsch" type="superPms.vo.DeptSch"/>
      	<typeAlias alias="superempdept" type="superPms.vo.SuperEmpDept"/>
      	<typeAlias alias="code" type="superPms.vo.Code"/>
      	<typeAlias alias="work" type="superPms.vo.Work"/>
      	<typeAlias alias="risk" type="superPms.vo.Risk"/>
      	<typeAlias alias="notice" type="superPms.vo.Notice"/>
      	<typeAlias alias="noticesch" type="superPms.vo.NoticeSch"/>
      	
	</typeAliases>

	<mappers>
		<mapper resource="resource/sumin/CalendarMapper.xml"/>
		<mapper resource="resource/sumin/TodolistMapper.xml"/>
		<mapper resource="resource/wonju/ProjectMapper.xml"/>
		<mapper resource="resource/eunbeen/DeptMapper.xml"/>
		<mapper resource="resource/eunbeen/EmpMapper.xml"/>
		<mapper resource="resource/jungwoo/RiskMapper.xml"/>
		<mapper resource="resource/jongeun/WorkMapper.xml"/>		
		<mapper resource="resource/minwoo/NoticeMapper.xml"/>		
	</mappers>
</configuration>
