<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >  

<mapper namespace="superPms.dao.Work_Dao">
	<select id="getWorkList" resultType="work">
		select *
		from (
			select rownum cnt, w.*
			from work w
			where 1=1
			and subject like '%'||#{subject}||'%'
			and id like '%'||#{id}||'%'
			ORDER BY WORKNO DESC)
		where cnt between #{start} and #{end}
	</select>
	<select id="schWork" parameterType="worksch" resultType="work">
		select *
		from (
			select rownum cnt, w.*
			from work w
			where 1=1
			and subject like '%'||#{subject}||'%'
			and id like '%'||#{id}||'%')
		where cnt between #{start} and #{end}
	</select>
	<select id="getWork" resultType="work" parameterType="int">
		SELECT * FROM WORK
		WHERE WORKNO = #{WORKNO}
	</select>
	<insert id="insFile" parameterType="workFile">
		INSERT INTO FILES VALUES(files_seq.nextval,#{fname},sysdate,sysdate,#{path})
	</insert>
	<insert id="insWork" parameterType="work">
		<if test= "fname != null and !fname.equals('')">
			INSERT INTO WORK VALUES (work_seq.nextVal,#{regdte},
				#{enddte},#{subject},#{cont},#{id},#{prjno},files_seq.currval,null)
		</if>
		<if test= "fname == null or fname.equals('')">
			INSERT INTO WORK VALUES (work_seq.nextVal,#{regdte},
				#{enddte},#{subject},#{cont},#{id},#{prjno},null,null)
		</if>
	</insert>
	<update id="uptWork" parameterType="work">
		update work
		set regdte = #{regdte},
			enddte = #{enddte},
			cont = #{cont}
		WHERE WORKNO = #{WORKNO}
	</update>
	<delete id="delWork" parameterType="int">
		delete
		from work
		where WORKNO=#{WORKNO}
	</delete>
	<!-- 페이징 -->
	<select id="totCnt" resultType="int" parameterType="worksch">
		select count(*)
		from work
		where 1=1
		and subject like '%'||#{subject}||'%'
		and id like '%'||#{id}||'%'	
	</select>
	<!-- 답글 -->
	<select id="getWorkRepList" resultType="workrep" parameterType="int">
		SELECT * FROM WORKREP
		WHERE WORKNO = #{WORKNO}
	</select>
	<insert id="insWorkRep" parameterType="workrep">
		<if test= "fname != null and !fname.equals('')">
			INSERT INTO WORKREP VALUES (workrep_seq.nextVal,null,
				#{cont},sysdate,sysdate,#{id},files_seq.currval,#{workno})
		</if>
		<if test= "fname == null or fname.equals('')">
			INSERT INTO WORKREP VALUES (workrep_seq.nextVal,null,
				#{cont},sysdate,sysdate,#{id},null,#{workno})
		</if>
	</insert>
	<delete id="delWorkRep" parameterType="int">
		delete
		from workrep
		where NO=#{no}
	</delete>
</mapper>